*{
    margin: 0;
    padding: 0;
}
/* TODO: reponsiveness for images in videos section  */
/**/
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar{

    letter-spacing: 3px;
    opacity: .9;
    background-color: #0B1129;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    font-family: Montserrat, sans-serif;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}


footer{
    opacity: .9;
    background-color: #0B1129;
    height: 80px;
    font-size: 18px;
    color: white;
    clear: both;
}
footer p{
   text-align: center;
   padding-top: 10px;
}
ul{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

ul li{
    padding: 15px;
    list-style: none;
    display: inline-block;

}
ul li:hover{
    background: #001f44;
    color: #0B1129;

}

ul li a{
    text-decoration: none;
    color: #fff;
}

h2{
    text-align: center;
    text-transform: uppercase;
}
hr{
    height: 5px;
    width: 50px;
    background-color: #0B1129;
    border-radius: 10px;
    margin: auto;
    position: relative;
    margin-top: 5px;
}
.toggle{
    width: 100%;
    padding: 10px 20px;
    background: #001f44;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}

.about_section{
    background-color: #f2f2f2;
    padding-top: 50px;
    text-align: center;
}


#about p{

    color: gray;
    margin-top: 20px;
}


/*
music section styling

*/
.music_section{
    text-align: center;
    padding-top: 50px;
}


.music_section p{
    margin-top: 20px;
}

.row{
    display: flex;
    flex-basis: 27%;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;


}
.column_one{
    width: 27%;


}
.column_two{
    width: 27%;

}
.column_three{
    width: 27%;

}

.btn{
    border: 2px solid #001f44;
    background-color: #001f44;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    text-transform: uppercase;

}

button:hover{
    background-color: #fff;
    color: #001f44;
}


.vid_section{
  text-align: center;
  padding-top: 50px;
  background-color: #f2f2f2;
}

.vid_section p{
  color: gray;
  margin-top: 20px;


}
/* grid properties display
    for 4 images in a 2x2 column
*/
.container{
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  cursor: pointer;
}

/*styling contact session*/
.contact_section{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.column form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

}

.column form label{
   display: block;
   justify-content: start;
}
.column form p{
    margin: 0;
}
.column form .full{
    grid-column: 1 / 3 ;
}
.column form button , .column form input, .column form textarea, .column form select{
    width: 100%;
    padding: 1em;

}
.column form select{
    padding: 0.6em;
}
.full  > button{
  border: none;
  text-transform: uppercase;
  background-color: #001f44;
  color: #fff;
  cursor: pointer;

}
.full > button :hover{
  background-color: #001f44;

}

@media screen and (max-width: 786px) {
    .row{
       display: flex;

    }
    .column_one, .column_two, .column_three{
        width: 100%;


    }
    .container{
      display: block;


    }
    .col_one,.col_two,.col_three,.col_four{
      width: 100%;

    }

    .toggle{
        cursor: pointer;
        display: block;
    }
    ul{
        width: 100%;
        display: none;
    }
    ul li{
        display: block;
        text-align: center;
    }
    .active{

        display: block;
    }

    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

}
